[ ca ]
default_ca = dvca

[ crl_ext ]
# issuerAltName=issuer:copy  #this would copy the issuer name to altname
authorityKeyIdentifier=keyid:always

[ dvca ]
new_certs_dir = /tmp
unique_subject = no
certificate = {{ tls_base_directory }}/ca/root-ca.crt
database = {{ tls_base_directory }}/ca/certindex
private_key = {{ tls_base_directory }}/private/ca/signing.key
serial = {{ tls_base_directory }}/ca/serialfile
default_days = {{ default_duration }}
default_md = sha1
policy = dvca_policy
x509_extensions = dvca_extensions
{{ use_cert_extensions }}

[ dvca_policy ]
commonName = supplied
stateOrProvinceName = supplied
countryName = supplied
emailAddress = optional
organizationName = supplied
organizationalUnitName = optional

[ dvca_extensions ]
basicConstraints = CA:false
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
keyUsage = digitalSignature,keyEncipherment
extendedKeyUsage = {{ cert_purpose }}
#crlDistributionPoints = URI:http://path.to.crl/myca.crl
